.landing-main {
  background-image: url("../images/brush-background.png");
  background-size: contain;
  background-position-x: right;
  background-repeat: no-repeat;
}

.landing-main {
  height: 100vh;
  width: 100vw;
}

.column-wrapper {
  display: flex;
  flex-direction: row;
}

.background-splash {
  position: relative;
  height: 100vh;
}

.emoji {
  font-family: "Water Brush";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  align-items: center;
  color: #ffffff;
}

.emoji-texts {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 0.5;
  color: #ffffff;
}

.cv_paper {
  height: 40vh;
}

.mission_impossble {
  height: 419px;
}

.peek-button {
  width: 200px;
  height: 70px;
  background: #ffffff;
  opacity: 0.9;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22.5px;
  color: #2f2e41;
  font-size: 40px;
}

.mission-impossble-texts {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 0.5;
  color: #ffffff;
  padding-left: 66px;
}

.left-column {
  display: flexbox;
  flex-direction: column;
  text-align: left;
  padding-left: 240px;
  flex: 2;
}
.center-column {
  align-self: flex-end;
  display: flexbox;
  flex-direction: column;
  flex: 1;
  padding-right: 30px;
}

.right-column {
  flex: 2;
}

@media only screen and (max-width: 768px) {
  .landing-main {
    background-image: url("../images/responsive/mobile-background-landing.png");
    background-size: cover;
    background-position-x: left;
    background-repeat: no-repeat;
  }

  .cv_paper {
    height: 37vh;
    margin-left: 20vw;
  }

  .emoji {
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    padding-left: 8vw;
  }

  .emoji-texts {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 0.5;
    color: #ffffff;
    padding-left: 8vw;

  }
  .mission_impossble {
    height: 40vh;
    margin-left: -8vw;
 }
  .mission-impossble-texts {
    font-style: normal;
    line-height: .5;
    font-weight: 300;
    font-size: 17px;
    color: #ffffff;
    padding-left: 28vw;
    padding-right: 0;
  }

  .peek-button {
    width: 200px;
    height: 70px;
    background: #ffffff;
    opacity: 0.9;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22.5px;
    color: #2f2e41;
    font-size: 20px;
    margin-top: 1vh;
    margin-left: 30%;
    margin-bottom: 5vh;
  }
  

}
